name: release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  # read for actions/checkout
  # write for softprops/action-gh-release
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build DEB
        run: |
          docker run --rm -t \
            -v $HOME/.cargo/registry/:/root/.cargo/registry \
            -v "$(pwd)":/volume \
            clux/muslrust:stable \
            /bin/sh -c 'cargo install cargo-deb && cargo deb --target x86_64-unknown-linux-musl --output cm-amd64-musl.deb'
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          draft: true
          fail_on_unmatched_files: true
          files: |
            cm-amd64-musl.deb
